div.account-survey {
  .col-centered {
    float: none;
    margin:0 auto;
  }
	.thankyou {
		h4 {
			font-family: 'Source Sans Pro';
			font-weight: 500;
			text-align: center;
		}
	}
	.errors {
		h5 {
			color:red;
		}
	}
	form {
      background:red;
		padding: 30px;
		max-width: 730px;
		margin: 35px auto;

		p {
			font-family: 'Source Sans Pro';
			font-weight: 500;
		}

		.field {
			display: block;
			&.slider {
				margin: 0 auto 35px;
				@media (min-width: 500px) {
					margin: 0 auto 15px;
				}
				max-width: 410px;
				label {
					@media (min-width: 500px) {
						text-align: right;
					}
					width: 100px;
				}
				&:last-of-type {
					margin-bottom:55px;
				}
				.slider-horizontal {
					width: 100% !important;
					@media (min-width: 500px) {
						width: 210px !important;
					}
				}
			}
			label {
				font-family: 'Source Sans Pro';
				font-weight: 500;
				color:#3b3b3b;
				font-size: 12px;
				text-transform: uppercase;
				padding-right: 15px;
			}
			.slider-val {
				font-family: 'Oswald';
				font-weight: bold;
				color:#1a3658;
				font-size: 16px;
				top: 4px;
				position: relative;
				@media (min-width: 500px) {
					padding-left: 15px;
				}
			}
			.slider-disabled {
				.slider-handle {
				    background-color: #bbbbbb;
				    background-image: -moz-linear-gradient(top, #bbbbbb, #bbbbbb);
				    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bbbbbb), to(#3b3b3b));
				    background-image: -webkit-linear-gradient(top, #bbbbbb, #bbbbbb);
				    background-image: -o-linear-gradient(top, #bbbbbb, #bbbbbb);
				    background-image: linear-gradient(to bottom, #bbbbbb,#bbbbbb);
				}
			}
			.slider-handle {
			    background-color: #3b3b3b;
			    background-image: -moz-linear-gradient(top, #3b3b3b, #3b3b3b);
			    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#3b3b3b));
			    background-image: -webkit-linear-gradient(top, #3b3b3b, #3b3b3b);
			    background-image: -o-linear-gradient(top, #3b3b3b, #3b3b3b);
			    background-image: linear-gradient(to bottom, #3b3b3b,#3b3b3b);
			}
			.tooltip {
				display: none !important;
			}
			.slider-checkbox {
				padding-left: 40px;
				width: 20px;
				position: relative;
				margin: 20px auto;
				label {
					width: 20px;
					height: 20px;
					cursor: pointer;
					position: absolute;
					top: -3px;
					left: 14px;
					background: #FFF;
					border-radius: 2px;
					box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5),1px 1px 0px rgba(255,255,255,0.4);
					&:after {
						content: '';
						width: 12px;
						height: 7px;
						position: absolute;
						top: 5px;
						left: 4px;
						border: 3px solid #3b3b3b;
						border-top: none;
						border-right: none;
						background: transparent;
						opacity: 0;
						transform: rotate(-49deg);
					}
					&:hover::after {
						opacity: 0.3;
					}
				}
				input {
					visibility: hidden;
					&:checked + label:after {
				  	opacity: 1;
					}
				}
			}
			&.radio-fields {
				margin: 50px auto 0;
				max-width: 460px;
				overflow: hidden;
				@media (min-width: 670px) {
					max-width: 600px;
				}
   				p {
   					text-align: center;
   				}
				.radios {
					padding: 0 30px;
					float: none;
					display: block;
					@media (min-width: 670px) {
						display: inline-block;
						float: left;
					}
					label {
						padding:0 0 0 5px;
					}
				}
			}
			&.textarea {
				max-width: 410px;
				margin: 40px auto 20px;
				textarea {
					display: block;
					width: 100%;
					border: none;
					height: 80px;
				}
			}
			.submit {
				border: 1px solid #3b3b3b;
				color:#11b9c3;
				padding: 5px 10px;
				margin: 20px auto 0;
				display: block;
				width: 150px;
				font-family: 'Source Sans Pro';
				font-weight: bold;
				text-align: center;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
